.advantage {
  background-color: $white;

  &__grid {


    @include breakpoint-up(medium) {
      display: flex;
      // flex-wrap: wrap;
    }
  }



  &__item {
    
    
    text-align: center;
    margin-top: 3.125rem;


    @include breakpoint-up(medium){
      flex: 1 1 auto;
      padding: 10px;
    }

    @include breakpoint-up(large){
      flex: 1;
      padding: 25px;
    }


  }

  &__icon {
    display: inline-block;
    background: linear-gradient(to right, $blue, $green-blue);
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 20px;

    img {
      width: 60px;
      height: 60px;
      filter: invert(100%);
    }
  }
}
