.description {
  background-color: $lightGray;
  background-color: red;
  
  &__title1{
    padding:20px 0;
  }


  &__card {
    background-color:  $white;
    border-radius: 0.6875rem;

    @include breakpoint-up(medium) {
      padding: 60px 60px;
      margin: 0 auto;
      text-align: center;
    }

    @include breakpoint-up(large) {
      padding: 75px 90px;
    }
  }

  &__video {
    video {
      width: 100%;
      border-radius: 0.6875rem 0.6875rem 0 0;
    }
  }

  &__cont{
    margin-top: 40px;

    @include breakpoint-up(medium) {
      margin-top: 70px;
    } 


    @include breakpoint-up(large) {
      display: flex;
      flex-direction: row-reverse;
    }


    &-content{

      




      @include breakpoint-up(large) {
        flex: 1 1 40%;

      } 

    }

    &-visual{


      @include breakpoint-up(large) {
        flex: 1 1 60%;
      } 


    }

  }




  &__text {
    margin: 20px 25px 50px 25px;



  }

  &__text--flex {
    text-align: left;



  }


  &__title {
    margin: 0px 25px 20px 25px;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__button {
    text-align: center;
    margin-top: 40px;


    @include breakpoint-up(large) {
      margin-top: 0;

    }    



    a {
      margin-bottom: 3.125rem;
    }
  }
}
