.feature {
  background-color: $lightGray;

  &__h2 {

    @include breakpoint-up(medium) {
      margin-bottom: 60px;
    }
  }



  &__h3 {
    margin-bottom: 0.9375rem;
    text-align: left;

    @include breakpoint-up(medium) {
      margin-bottom: 35px;
    }
  }



  &__image {
    margin-bottom: 0.9375rem;

    text-align: center;

    img {
      width: 100%;

      @include breakpoint-up(medium) {
        width: 90%;
      }
    }
  }

  &__description {
    margin-bottom: 5rem;
  }
}

.buy-section {
  background-color: $white;

  &__title {
    margin-bottom: 5rem;
  }

  &__button {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__image {
    text-align: center;
  }

  img {
    width: 80%;
    margin-bottom: 3rem;
    max-width: 46.875rem;
  }
}
