.feature {
  background-color: $lightGray;

  &__h2 {

    margin-bottom: 10px;

    @include breakpoint-up(medium) {
      margin-bottom: 10px;
    }
  }



  &__h3 {
    margin-bottom: 0.9375rem;
    text-align: left;

    @include breakpoint-up(medium) {
      margin-bottom: 35px;
    }
  }



  &__image {
    margin-bottom: 0.9375rem;

    text-align: center;
    position: relative;
    padding-top: 35px;




    img {
      width: 100%;

      @include breakpoint-up(medium) {
        width: 90%;
      }
    }

    &--notick{
      position: absolute;
      left: 0;
      top: 8px;
      width: 170px;
      text-align: left;
      background: linear-gradient(to right, $blue, $green-blue);
      border-radius: 0px 15px 15px 0px;
      padding: 6px 10px;
      color: white;
      font-size: 14px;
      
      @include breakpoint-up(large) {
        font-size: 16px;
        padding: 8px 12px;
        width: 205px;
      }      



    }


  }

  &__description {
    margin-bottom: 5rem;
  }
}

.buy-section {
  background-color: $white;

  &__title {
    margin-bottom: 5rem;
  }

  &__button {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__image {
    text-align: center;
  }

  img {
    width: 80%;
    margin-bottom: 3rem;
    max-width: 46.875rem;
  }
}
