.payment {
  background-color: $lightGray;

  &__logo {
    margin: 0 auto;
    margin-bottom: 1.5625rem;
    max-width: 50rem;

  }

  &__card-order {
    margin: 0 auto;
    max-width: 50rem;
    background-color: $white;
    border-radius: 0.6875rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.875rem;

    @include breakpoint-up("large") {
    }
  }

  &__header {
    position: relative;
    height: 3.75rem;
    border-radius: 0.6875rem 0.6875rem 0 0;
    background: linear-gradient(to right, $blue, $green-blue);
  }

  &__title {
    position: absolute;
    font-weight: bold;
    line-height: 1.15;
    color: $white;

    font-size: 1.25rem;
    left: 0.625rem;
    bottom: 0.625rem;
  }

  &__date {
    position: absolute;
    font-weight: bold;
    line-height: 1.15;
    color: $white;
    font-size: 0.875rem;

    right: 0.625rem;
    bottom: 0.625rem;
  }

  &__content {
    padding: 0 0.625rem;
    text-align: center;
  }

  &__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: [row1-start] 30px [row1-end] auto [last-line];
    margin: 60px auto 45px auto;
    max-width: 31.25rem;
  }

  &__item {
    line-height: 1.15;
    color: $deepGray;
    font-size: 0.875rem;
    text-align: center;
    padding: 5px;
  }

  &__item:nth-child(-n + 3) {
    font-weight: bold;

    background-color: $mediumGray;
    border: 1px solid $grayishBlue;
  }

  &__item:nth-child(1n + 4) {
    font-weight: 300;

    background-color: $lightGray;
    border: 1px solid $grayishBlue;
  }

  &__line {
    background-color: $mediumGray;
    border: none;
    height: 1px;
    margin-bottom: 1.875rem;
  }

  &__total {
    font-weight: 300;
    line-height: 1.15;
    color: $deepGray;
    font-size: 1.125rem;
    text-align: right;
    padding-bottom: 1.25rem;
    max-width: 31.25rem;
    margin: 0 auto;
  }

  &__card-pay {
    margin: 0 auto;
    max-width: 50rem;
    background-color: $white;
    border-radius: 0.6875rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;


    @include breakpoint-up("large") {

      flex-direction: row-reverse;
      
    }


  }

  &__pay {
    padding: 2.5rem 0.625rem 0 0.625rem;
    text-align: center;
    flex: 1 1 50%;

    @include breakpoint-up("large") {

      padding: 3.125rem 1.25rem;
      
    }


  }

  &__pay-button {
    margin-bottom: 2.5rem;

    p {
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 11px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      color: #7b8388;
      margin-top: .4375rem;

      span {
        font-weight: 300;
        line-height: 1.15;
        color: #21cd9c;
        font-size: .875rem;
      }
    }



  }

  &__sep-line {
    background-color: $mediumGray;
    border: none;
    height: 1px;
    // margin-bottom: 1.875rem;

    @include breakpoint-up("large") {

      display: none;
      
    }

  }




  &__certified {
    padding: 2.5rem 0.625rem 2.5rem 0.625rem;
    text-align: center;
    flex: 1 1 50%;

    @include breakpoint-up("large") {

      padding: 3.125rem 1.25rem;
      
    }


  }

  &__certified--img{
    max-width: 500px;
    margin: 0 auto;

    img{
      width: 100%;
    }
  }

  &__description{
    font-weight: 300;
    line-height: 1.15;
    color: $darkGray;
    font-size: $font-sm;
    text-align: left;
    padding: 15px;
    font-style: italic;

    p{
      margin-top: 10px;
    }

  }















}
