//colors
$white: #FFFFFF;
$blue: #00ADD3;
$green-blue: #2FEDCB;
$lightGray: #FBFBFB;
$mediumGray: #F4F4F4;
$darkGray: #C4C4C4;
$darkBlue: #2F4552;
$lightBlue: #566D74;
$deepBlue: #1C2D45;


// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;// 20px
$font-xlg: 3.25rem;// 52px
