//colors
$white: #ffffff;
$blue: #00add3;
$green-blue: #2fedcb;

$lightGray: #f4f4f4;
$mediumGray: #d2d2d2;
$darkGray: #817f7f;
$deepGray: #606060;

$lightBlue: #8a9599;
$darkBlue: #516580;
$deepBlue: #1c2d45;

$grayishBlue: hsl(233, 8%, 62%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px
